---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* Variables */
$width-asides: 10%;
$width-main: 65%;

$height-footer: 120px;

$color-background-base: #fafafa;
$color-text-base: #343434;
$color-text-light: #7c7c7c;
$color-text-verylight: #d3d3d3;
$color-text-superlight: #efefef;
$color-link-base: #1144ff;
$color-link-hover: #f2c40f;
$color-link-visited: #553bab;

$font-size-base: 18px;
$font-family-heading: "Yanone Kaffeesatz", sans-serif;
$font-family-base: "Open Sans", sans-serif;
$font-family-serif: "Sanchez", serif;

$margin-layout-element: 20px;

/* Brand icon colors */
.color-fa-fb {color: #3B5998;}
.color-fa-gh {color: #666666;}
.color-fa-tw {color: #55ACEE;}
.color-fa-in {color: #3F729B;}
.color-fa-rs {color: #FB7629;}
.color-fa-ht {color: #E44D26;}
.color-fa-cs {color: #0070BB;}
.color-fa-ma {color: #D64937;}
.color-fa-gp {color: #DC4E41;}

/* Imports */
@import
    "general",
    "typography",
    "media-queries",
    "syntax-highlighting"
;
