---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/**
 * Style settings
 */

// Font styles
$font-family-base:          "Quattrocento", Times, serif;
$font-family-heading:       "Ubuntu", Arial, sans-serif;
$font-family-code:          "PT Mono", monospace;
$font-size-base:            18px;
$line-height-base:          26px;
$font-family-code:          "PT Mono", monospace;
$font-size-code:            14px;
$line-height-pre:           20px;

// Colors
$color-text-base:           #2f2f2f;
$color-text-header:         #fbfbfb;
$color-background-base:     #fbfbfb;
$color-background-header:   #1a1a1a;
$color-background-nav:      #2ecd71;
$color-link-nav-base:       #1a1a1a;
$color-link-nav-hover:      #3598dc;
$color-link-base:           #1144ff;
$color-link-hover:          #f2c40f;
$color-link-footer-base:    #f2c40f;
$color-link-footer-hover:   #1144ff;

// Element widths
$width-main-full:           100%;
$width-main-large:          74%;
$width-main-medium:         49%;
$width-main-small:          24%;

// Element heights and margins
$height-footer:             165px;

$on-palm:                   600px;
$on-laptop:                 900px;

@import
    "reset",
    "general",
    "nav",
    "heading",
    "content",
    "media",
    "syntax-highlighting"
;
