/* Typographic styling */
p {
    margin: 15px 0;
}

pre {
    background: $color-background-base;
}

main.blogPost>p:first-of-type {
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: justify;
}

ul {
    margin-left: 25px;
}

blockquote {
    background: white;
    border-left: 8px solid $color-text-light;
    border-right: 8px solid $color-text-light;
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 2px;
    display: block;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 0 auto;
    width: 90%;

    cite:before {
        content: "\2014";
    }

    cite {
        display: block;
        font-family: $font-family-heading;
        letter-spacing: 2px;
    }
}

pre>code {
    background: $color-text-superlight;
    font-size: 16px;
    display: block;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 0 auto;
    width: 90%;
}

a:visited {
    color: $color-link-visited;
}

a:hover {
    transition: color 0.2s ease;
    color: $color-link-hover;
}

a {
    transition: color 0.3s ease;
    color: $color-link-base;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: $font-family-serif;
    margin: 10px 0 0 0;
}

h3.blog, h4.blog {
    display: block;
    text-align: right;
    font-family: $font-family-heading;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.description {
    color: $color-text-light;
    font-family: $font-family-serif;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 4px;
    line-height: 35px;
    text-align: center;
    width: 90%;
    margin: 30px auto 50px auto;
}

.summary {
    display: inline-block;
    width: 32.5%;
    float: left;

    div {
        width: 100%;
        text-align: center;
    }

    p {
        max-width: 90%;
        margin: 10px auto;
        text-align: justify;
    }
}

.summaryTitle {
    display: block;
    font-family: $font-family-heading;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

#disqus_thread {
    margin-top: 30px;
}

table {
    font-size: 16px;
    width: 100%;
}

td, th {
    padding: 4px;
}

th {
    background: $color-text-verylight;
}

tr:nth-child(even) {
    background: $color-text-superlight;
}

/* Alignment */
.right {
    float: right;
}

.left {
    float: left;
}
