---
title: Välkommen
---
<!DOCTYPE html>
<html lang="sv">

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="wrap">
            <aside class="asideSecondary">
                <h2>A long title of a blog post</h2>
                <h3>Nov 5, 2015</h3>
                <h4>By Popniten</h4>
            </aside>
            <main class="mainPrimary">
                <p>
                    Fusce mollis ut enim eu feugiat. Nulla accumsan quis enim sit amet iaculis. Phasellus mattis, erat
                    non imperdiet pharetra, ipsum ligula rhoncus ex, nec scelerisque nulla magna eu velit. Maecenas id
                    blandit orci. Nullam eget diam justo. Phasellus aliquet odio arcu, ac tincidunt nulla fermentum
                    semper. Sed volutpat dignissim finibus. Proin id viverra tellus, id sagittis lorem. Phasellus
                    aliquam erat tortor, sed auctor libero gravida in. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia Curae.
                </p>
                <h3>Fusce mollis</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel elit at quam tincidunt
                    sodales. Fusce bibendum varius sem, vel egestas nibh placerat a. Sed pellentesque ut urna vel
                    pharetra. Aliquam aliquet urna et varius luctus. Vivamus non consectetur nulla. Nulla facilisi.
                    Nam luctus, risus et viverra dictum, turpis lacus pulvinar nulla, id dapibus ante odio non velit.
                    Etiam id molestie lectus, et convallis elit.
                </p>
                <h3>Duis urna enim</h3>
                <p>
                    Vivamus cursus metus nisl. Proin non auctor nisi. Vivamus laoreet ut lacus eget congue. Sed libero
                    ex, gravida finibus aliquet sed, pharetra ac neque. Vivamus rhoncus quam ullamcorper purus dapibus
                    fringilla. Vestibulum quis imperdiet dolor, eu tempor erat. Aliquam diam ligula, sagittis quis
                    pretium eleifend, rutrum vitae lorem. Praesent sed ex vel felis cursus elementum. In eget nunc
                    accumsan, ullamcorper ante in, fringilla justo. In enim urna, vehicula et tincidunt vitae, sodales
                    in est. Vivamus molestie sed tortor at dapibus. Duis urna enim, varius non purus et, vehicula
                    viverra sapien. Sed ultrices metus sit amet <a href="">vestibulum</a> tristique. Pellentesque a ante sed lorem
                    cursus posuere. Etiam vulputate est quam, dapibus viverra urna egestas a.
                </p>
            </main>
        </div>
        <footer>
            <div class="wrap">
                <p class="footLeft">
                    <i class="fa fa-github-square"></i> GitHub<br />
                    <i class="fa fa-facebook-square"></i> Facebook<br />
                    <i class="fa fa-twitter-square"></i> Twitter<br />
                    <i class="fa fa-rss-square"></i> RSS<br />
                </p>
                <p class="footRight">
                    <a href="http://lnu.se/">Linnaeus University</a><br />
                    <a href="https://coursepress.lnu.se/program/utveckling-och-drift-av-mjukvarusystem/">Software development and operations</a><br />
                </p>
                <span class="copy">&copy; Pär Eriksson, 2015</span>
            </div>
        </footer>
    </body>
</html>
