---
#
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pär Eriksson</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Quattrocento%7COpen+Sans%7CYanone+Kaffeesatz%7CSanchez" rel="stylesheet" type="text/css" />
    <link href="{{ "/css/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link type="text/plain" rel="author" href="{{ '/humans.txt' | prepend: site.baseurl | prepend: site.url }}" />
</head>
<body>

<div id="wrapper">
<nav>
    <img src="{{ "/assets/pop-logo3.png" | prepend: site.baseurl }}" alt="Pär 'Popniten' Eriksson" />
    <ul>
        {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}

        <li><a href="{{ "/underconstruction/" | prepend: site.baseurl }}">Blog</a></li>
        <li><a href="{{ "/underconstruction/" | prepend: site.baseurl }}">Projects</a></li>
    </ul>
</nav><!--
--><main>
    <p class="description">
        {{ site.description }}
    </p>
    <div class="summary">
        <div>
            <span class="fa-stack fa-3x fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <span class="summaryTitle">Latest in the blog</span>
        {% for post in site.posts limit 4 %}

        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        {% if post.author %}
            <small><em>{{ post.author }}, {{ post.date | date: "%b %-d, %Y" }}</em></small>
        {% endif %}

        {% endfor %}
    </div>
    <div class="summary">
        <div>
            <span class="fa-stack fa-3x fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-book fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <span class="summaryTitle">My course projects</span>
        <p>
            Here will be links to all projects I make in the courses I take.
        </p>
    </div>
    <div class="summary">
        <div>
            <span class="fa-stack fa-3x fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <span class="summaryTitle">Design portfolio</span>
        <p>
            This will act as a portfolio for web design, drawings and other art I make.
        </p>
    </div>
</main><!--
--><aside>
    <div>
        <a href="">
            <span class="fa-stack color-fa-rs fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
    <div>
        <a href="">
            <span class="fa-stack color-fa-fb fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
    <div>
        <a href="">
            <span class="fa-stack color-fa-tw fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
    <div>
        <a href="">
            <span class="fa-stack color-fa-in fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
</aside>
</div>
<footer>
    <div>
        <div>
            <a href="">
            <span class="fa-stack color-fa-ht fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="">
            <span class="fa-stack color-fa-cs fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-css3 fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <img src="{{ "/assets/Popniten.jpg" | prepend: site.baseurl }}" alt="Pär 'Popniten' Eriksson" />
            &copy; 2015, Pär Eriksson
        </div>
        <div class="right">
            Find me:
            <a href="">
            <span class="fa-stack color-fa-ma fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="">
            <span class="fa-stack color-fa-gh fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="">
            <span class="fa-stack color-fa-fb fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="">
            <span class="fa-stack color-fa-tw fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="">
            <span class="fa-stack color-fa-in fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
            </a>
        </div>
    </div>
</footer>
</body>
</html>
