<footer>
    <div class="wrap">
        <p class="footLeft">
            <i class="fa fa-github-square"></i> GitHub<br />
            <i class="fa fa-facebook-square"></i> Facebook<br />
            <i class="fa fa-twitter-square"></i> Twitter<br />
            <i class="fa fa-rss-square"></i> RSS<br />
        </p>
        <p class="footRight">
            <a href="http://lnu.se/">Linnaeus University</a><br />
            <a href="https://coursepress.lnu.se/program/utveckling-och-drift-av-mjukvarusystem/">Software development and operations</a><br />
        </p>
        <span class="copy">&copy; Pär Eriksson, 2015</span>
    </div>
</footer>
