<footer>
    <div>
        <div>
            <img src="{{ "/assets/Popniten.jpg" | prepend: site.baseurl }}" alt="Pär 'Popniten' Eriksson" />
            &copy; 2015, Pär Eriksson
        </div>
        <div class="right">
            Find me:
            {% if site.email %}
            <a href="mailto:{{ site.email }}" rel="nofollow">
            <span class="fa-stack color-fa-ma fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" rel="nofollow">
            <span class="fa-stack color-fa-gh fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}
            {% if site.facebook_username %}
            <a href="http://facebook.com/{{ site.facebook_username }}" rel="nofollow">
            <span class="fa-stack color-fa-fb fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}
            {% if site.googleplus_username %}
            <a href="https://plus.google.com/{{ site.googleplus_username }}" rel="nofollow">
            <span class="fa-stack color-fa-gp fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}
            {% if site.twitter_username %}
            <a href="http://twitter.com/{{ site.twitter_username }}" rel="nofollow">
            <span class="fa-stack color-fa-tw fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}
            {% if site.instagram_username %}
            <a href="http://instagram.com/{{ site.instagram_username }}" rel="nofollow">
            <span class="fa-stack color-fa-in fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}
        </div>
    </div>
</footer>
