<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2b2c2e" />
    <title> Popniten.github.io </title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Josefin+Slab|Open+Sans:300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/default.css">
</head>
