<ul class="menu">
  <li><a href="/blog/"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Blog</a></li>
  <li><a href="/devops/"><i class="fa fa-server fa-fw" aria-hidden="true"></i> Dev&Ops</a></li>
  <li><a href="/projects/"><i class="fa fa-folder-open-o fa-fw" aria-hidden="true"></i> Projects</a></li>
  <li><a href="/snippets/"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Notes & Snippets</a></li>
  <!--<li><a href="/other/"><i class="fa fa-flask fa-fw" aria-hidden="true"></i> Other</a></li>-->
</ul>
