<meta property="og:title" content="{% if page.title %}{{ page.title }} || {% endif %}{{ site.title }}" />
{% if page.title %}
<meta property="og:type" content="article" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url | replace 'index.html','' }}" />
<meta property="og:image" content="{{ "/assets/opengraph_image.png" | prepend: site.url }}" />
{% if page.description %}
<meta content="{{ page.description }}" property="og:description" />
{% else %}
<meta content="{{ site.description }}" property="og:description" />
{% endif %}
