article {
  font-family: $font-texts;

  h1, h2, h3 {
    font-family: $font-headings;
  }

  h1 {
    margin: 100px 0 50px 0;
  }

  h2 {
    margin: 40px 0 10px 0;
  }

  h3 {
    margin: 40px 0 10px 0;
  }

  p:first-of-type {
    font-style: italic;
  }

  pre, code {
    font-family: $font-mono;
  }

  ul, ol {
    margin: 0 0 0 20px;

    li {
      margin: 5px 0;
    }
  }

  blockquote {
    border-left: 5px solid darken($color-light-accent, 10%);
    padding: 0 20px;

    cite {
      font-size: 18px;
    }

    cite::before {
      content: "\2014\00a0 ";
    }
  }

  >table {
    width: 100%;
    border-spacing: 0;

    thead tr th {
      background: $color-light-accent;
      padding: 15px 5px;
      border-bottom: 2px solid darken($color-light-accent, 10%);
      text-align: left;
    }

    tbody {
      tr td {
        padding: 10px 5px;
      }

      tr:nth-child(even) {
        background: $color-light-accent;
      }
    }
  }
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 200px) {
  article {
    h1, h2, h3, h4, h5, h6, p, figure.highlight,
    ul, ol, .highlighter-rouge, >table {
      padding: 0 $padding-sides-mobile;
    }

    li>ul {
      padding: 0;
    }

    .highlight {
      margin: 0;
      overflow-x: auto;
    }

    p, table {
      font-size: 18px;
      line-height: 20px;
    }

    pre, code {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 3px;
    }

    ul, ol {
      font-size: 16px;
    }

    blockquote {
      margin: 0 $padding-sides-fullscreen;
    }
  }
}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
  article {
    h1, h2, h3, h4, h5, h6, p, figure.highlight,
    ul, ol, .highlighter-rouge, >table {
      padding: 0 $padding-sides-tablet;
    }

    li>ul {
      padding: 0;
    }

    p, table {
      font-size: 24px;
      line-height: 26px;
    }

    pre, code {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 3px;
    }

    ul, ol {
      font-size: 20px;
    }

    blockquote {
      margin: 0 $padding-sides-fullscreen;
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  article {
    h1, h2, h3, h4, h5, h6, p, figure.highlight,
    ul, ol, .highlighter-rouge, >table {
      padding: 0 $padding-sides-fullscreen;
    }

    code.highlighter-rouge {
      padding: 0;
    }

    blockquote {
      margin: 0 $padding-sides-fullscreen;
    }

    li>ul, li>p, li>ol, li>.highlighter-rouge, blockquote p, blockquote cite {
      padding: 0;
    }
  }
}
