p {
    margin: 10px;
}

main p:first-child {
    font-weight: bold;
}

/* Footer extras */
.copy {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    clear: both;
}

.footLeft {
    width: 46%;
    float: left;
}

.footRight {
    width: 46%;
    float: right;
}

a {
    color: #1144ff;
    outline: 0;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #F2C40F;
}

footer a {
    color: #F2C40F;
}

footer a:hover, footer a:active, footer a:focus {
    color: #1144ff;
}

code {
    font-family: $font-family-code;
}

pre {
    line-height: $line-height-pre;
    code {
        font-size: $font-size-code;
    }

}

