.site-content section:nth-child(odd) {
  background: $color-section-odd;
}

.site-content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  font-family: $font-texts;
  font-size: 1.2em;

  h1 {
    font-family: $font-headings;
    text-transform: uppercase;
    line-height: 2em;
  }

  div {
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    figure {
      flex: 0 1 auto;
      background: gray;
      min-height: 400px;
      width: 300px;
      margin: 20px 0;
    }
  }
}

/* Mobile first queries */

/* Starting point */
@media (min-width: 200px) {
  .site-content section {
    padding: 50px $padding-sides-mobile;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
  .site-content section {
    padding: 50px $padding-sides-tablet;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  // .site-content section {
  //   padding: 50px $padding-sides-fullscreen;
  // }
}
