// Colors
$color-dark-main: #2b2c2e;
$color-dark-accent: darken($color-dark-main, 5%);

$color-light-main: #FFFFFF;
$color-light-accent: darken($color-light-main, 5%);

$color-header-front: #5ACECD;

// Measurements
$padding-sides-mobile: 5px;
$padding-sides-tablet: 50px;
$padding-sides-fullscreen: 200px;

html {
  overflow-y: scroll;
}

body.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main.site-content {
  flex: 1;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}

.spacer {
  flex: 1;
}
