@media (max-width: 900px) {
    .wrap {
        width: 100%;
    }
}

@media (max-width: 700px) {
    header {
        height: 50px;
        line-height: 50px;
    }

    header h1 {
        font-size: 26px;
    }

    header img {
        border: 6px solid #2ECD71;
        height: 100px;
    }

    .main, .mainPrimary {
        margin: 0 0 250px 0; /* Margin bottom = footer height + footer border + wanted margin*/
        width: 100%;
        float: none;
    }

    .aside, .asideSecondary {
        margin: 0;
        width: 100%;
        float: none;
        text-align: left;
    }

    .footLeft {
        width: 95%;
        float: none;
    }

    .footRight {
        width: 95%;
        float: none;
    }

    body {
        margin-bottom: 230px;
    }

    footer {
        height: 230px;
    }

}
