nav {
    list-style-type: none;

    ul {
        li {
            display: inline-block;

            a {
                color: $color-link-nav-base;
                font-size: 20px;
                font-weight: bold;
                margin: 0 25px 0 5px;
            }

            a:hover {
                color: $color-link-nav-hover;
            }
        }
    }
}
