nav.main-nav {
  background: white;
  border-top: 5px solid $color-dark-main;
  border-bottom: 5px solid $color-dark-main;
  height: 100px;

  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;

  .menu-toggle {
    border-radius: 10px;
    color: $color-dark-main;
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      height: 32px;
      width: 32px;
    }
  }

  .menu-toggle:hover {
    background: $color-light-accent;
  }

  .site-name a {
    text-decoration: none;
    color: $color-dark-main;
  }

  span {
    font-family: sans-serif;
  }

  span.two {
    font-family: sans-serif;
    font-weight: bold;
  }
}

.main-nav ul.menu {
  padding: 0 20px;
  margin: 0 20px;

  li {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    line-height: 2em;

    a {
      display: block;
      margin: 0 15px;
      text-decoration: none;
      color: $color-dark-main;
      border-bottom: 4px solid $color-light-main;
    }

    a:hover {
      text-decoration: none;
      color: $color-dark-main;
      border-bottom: 4px solid $color-dark-main;
    }
  }
}

/* Mobile first queries */

/* Starting point */
@media (min-width: 200px) {
  nav {
    height: 70px;

    .main-nav ul.menu {
      margin-left: 5px;
    }

    span {
      font-family: 'Raleway', sans-serif;
      font-size: 1.8em;
    }
  }

  .main-nav ul.menu {
    display: none;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  nav {
    height: 100px;
    padding: 0 20px;

    .menu-toggle {
      margin-left: 20px;
    }

    span {
      font-size: 2em;
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .main-nav ul.menu {
    display: inline-flex;
    flex-direction: row;
  }
}
