{% assign numPosts = site.posts.size %}
{% if numPosts > 0 %}

<section>
    <h1>Blog</h1>
    <p>Latest posts in my blog.</p>

    <div>
      {% for post in site.posts limit: 4 %}

      <a href="{{ post.url | prepend: site.baseurl }}">
        <figure class="cardblog">
          <h1>{{ post.title }}</h1>
          <h2>{{ post.date | date: "%B %-d, %Y" }}</h2>
          <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
          <span>Posted in: <em>{{ post.categories }}</em></span>
        </figure>
      </a>

      {% endfor %}

      <!--<figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>-->
    </div>

    <!--{% for post in site.posts limit: 10 %}

    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    {{ post.content | strip_html | truncatewords: 50 }}
    {% if post.author %}
    <h3 class="blog">By {{ post.author }}</h3>
    <h4 class="blog">{{ post.date | date: "%B %-d, %Y" }}</h4>
    {% endif %}
    {% endfor %}-->
</section>

{% endif %}
