{% assign numPosts = site.posts.size %}
{% if numPosts > 0 %}

<section>
    <h1>Blog</h1>
    <p>Latest posts in my blog.</p>

    <div>
      {% for post in site.posts limit: 4 %}

      <a href="{{ post.url | prepend: site.baseurl }}">
        <figure class="cardblog">
          <h1>{{ post.title }}</h1>
          <h2>{{ post.date | date: "%B %-d, %Y" }}</h2>
          <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
          <span>Posted in: <em>{{ post.categories }}</em></span>
        </figure>
      </a>

      {% endfor %}
    </div>
</section>

{% endif %}
