<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="site">

    <aside>
      <img src="/assets/popniten.jpg" alt="Pär Eriksson">
      <h1>Pär Eriksson</h1>
      <h2>JS & Node developer</h2>
      <p>
        {{ site.description }}
      </p>
      <nav>
        <a href="/">/home</a>
        <a href="/categories">/categories</a>
        <a href="/archive">/archive</a>
        <a href="/about">/about</a>
      </nav>
    </aside>

    <main>
      {{ content }}
    </main>

  <script src="/js/index.js"></script>
  </body>
</html>
